/* Start Global Ruls */
:root {
          --main-color: #10cab7;
          --secondary: #37474F;
          --section-padding: 60px;
          --section-background: #f6f6f6;
}

* {
          box-sizing: border-box;
}

body {
          font-family: "Work Sans" , sans-serif;
}

/* Start Components */

.spacial-heading {
          font-size: 100px;
          font-weight: 800;
          color: #ebeced;
          text-align: center;
          letter-spacing: -3px;
          margin: 0;
}
.spacial-heading + p {
          text-align: center;
          font-size: 16px;
          color: #797979;
          margin: -30px 0 0;
}
@media (max-width: 767px) {
          .spacial-heading {
                    font-size: 60px;
          }
          .spacial-heading + p {
                    margin-top: -18px;
          }
          .features .feat {
                    padding: 0;
          }
          .services .service-content {
                    padding: 0;
          }
          .portfolio .portfolio-content {
                    padding: 0 15px;
          }
          .about .about-content {
                    padding-left: 15px;
          }
          .portfolio .portfolio-content:last-child img {
                    width: 43vh;
          }
}
@media (min-width: 768px) and (max-width: 850px) {
          .services .service-content {
                    padding-left: 15px;
          }
          .portfolio .portfolio-content {
                    padding-left: 40px;
          }
          .about .about-content .text-content {
                    padding: 0 10px;
          }
}
/* End Components */
/* @media (min-width: 768px) {
          .container {
                    width: 750px;
          }
          
} */

@media (min-width: 992px) {
          .container {
                    width: 970px;
          }
          .features .feat {
                    padding-left: 100px;
          }
          .services .service-content {
                    padding-left: 36px;
          }
          .portfolio .portfolio-content {
                    padding-left: 100px;
          }
          
          .about .about-content {
                    padding-left: 111px;
          }
}

@media (min-width: 1200px) {
          .container {
                    width: 1170px;
          }
          .features .feat {
                    padding-left: 100px;
          }
          .services .service-content {
                    padding-left: 100px;
          }
          .portfolio .portfolio-content {
                    padding-left: 100px;
                    }
                    
          .about .about-content {
                    padding-left: 111px;
          }
}
/* End GLobal Ruls */

/* Start Header */

.header {
          padding: 20px;
}

.header .container {
          display: flex;
          justify-content: space-between;
          align-items: center;
}
.header .links {
          position: relative;
          transition: 0.5s;
}

.header .links .icon {
          width: 30px;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
}

.header .links .icon span {
          background-color: #333;
          margin-bottom: 5px;
          height: 2px;
}

.header .links .icon span:first-child {
          width: 100%;
}
.header .links .icon span:nth-child(2) {
          width: 60%;
          transition: 0.3s;
}

.header .links .icon span:last-child {
          width: 100%;
}
.header .logo {
          width: 60px;
}

.header .links ul {
          list-style-type: none;
          padding-left: 0;
          margin: 0;
          background-color: #eee;
          width: 160px;
          position: absolute;
          right: 0;
          top: calc(100% + 10px);
          display: none;
          z-index: 1;
}
.header .links ul li {
          padding: 20px 10px;
}
.header .links ul li:not(:last-child)  {
          border-bottom: 1px solid #ccc;
}

.header .links .icon:hover span:nth-child(2) {
          width: 100%;
}

.header .links ul li a {
          text-decoration: none;
          color: #333;
          transition: 0.4s;
          display: block;
}

.header .links ul::before {
          content: '';
          border-width: 11px;
          border-style: solid;
          border-color: transparent transparent #eee transparent;
          position: absolute;
          right: 5px;
          top: -21px;
}
.header .links ul li a:hover {
          margin-left: 25px;
}

.header .links:hover ul {
          display: block;
          cursor: pointer;
}

/* End header */

/* Start Landing */
.landing {
          background-image: url(../images/landing.jpg);
          background-size: cover;
          height: calc(100vh - 64px);
          position: relative;
          
}
.landing .intro-text h1 {
          margin: 0;
          text-align: center;
          font-size: 50px;
          color: var(--main-color);
}
.landing .intro-text p {
          width: 320px;
          max-width: 100%;
}
.landing .intro-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50% , -50%);
}

/* End Loading */

/* Start Features Section */

.features {
          padding-top: var(--section-padding);
          padding-bottom: var(--section-padding);
          background-color: var(--section-background);
}

.features .container {
          display: grid;
          grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
          grid-gap: 20px;
}

.features .feat {
          text-align: center;
          
}

.features .feat i  {
          font-size: 40px;
          color: var(--main-color);
}
.features .feat h3 {
          font-weight: 800;
}
.features .feat p {
          color: #777;
          line-height: 1.5;
          font-size: 17px;
}

.services {
          padding-top: var(--section-padding);
          padding-bottom: var(--section-padding);
}

.services .service-content {
          display: grid;
          grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
          gap: 30px;
          margin-top: 100px;          
}

.services .service-content .service {
          display: flex;
          margin-bottom: 40px;
          
          
}

@media (max-width: 767px) {
          .services .service-content .service {
                    text-align: center;
                    flex-direction: column;
          }
          
}
.services .service-content .col i {
          color: var(--main-color);
          flex-basis: 60px;
          font-size: 30px;
}
.services .service-content .service .text {
          flex: 1;
}
.services .service-content .service .text h3 {
          margin-top: 0;
}
.services .service-content .service .text p {
          color: #444;
          font-weight: 300;
          line-height: 1.5;
}

.services .service-content .image img {
          width: 260px;
}
.services .service-content .image {
          position: relative;
          text-align: center;
          
}

.services .service-content .image::before {
          content: '';
          background-color: var(--secondary);
          width: 100px;
          height: calc(100% + 100px);
          top: -50px;
          right: 0;
          position: absolute;
          z-index: -1;
}
@media (max-width: 1199px) {
          .image-column {
                    display: none;
          }
          
}

.portfolio {
          padding-top: var(--section-padding);
          padding-bottom: var(--section-padding);
          background-color: var(--section-background);
}
/* .portfolio .container {
          padding-left: 100px;
} */
.portfolio .portfolio-content {
          display: grid;
          grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
          gap: 30px;
          margin-top: 80px;
          
}
.portfolio .portfolio-content .card {
          background-color: white;
}
.portfolio .portfolio-content .card img {
          max-width: 100%;
}
.portfolio .portfolio-content .card img:first-child {
          height: 241px;
}
.portfolio .portfolio-content .card .info {
          padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
          margin-top: 0;
}
.portfolio .portfolio-content .card .info p {
          color: #777;
          line-height: 1.5;
          margin-bottom: 0;
}
.about {
          padding-top: var(--section-padding);
          padding-bottom: calc(var(--section-padding) + 60px);
          /* padding-bottom: var(--section-padding); */

}

.about .about-content {
          display: flex;
          justify-content: space-between;
          margin-top: 100px;
          flex-wrap: wrap;
          
}
@media (max-width: 991px) {
          .about .about-content {
                    flex-direction: column;
                    text-align: center;
          }
}
.about .about-content .image-about {
          width: 250px;
          height: 40vh;
          position: relative;
}
@media (max-width: 991px) {
          .about .about-content .image-about {
                    margin: 0 auto 50px;
          }
}

.about .about-content .image-about img {
          max-width: 100%;
          height: 40vh;
          
}
.about .about-content .image-about::before {
          content: '';
          width: 120px;
          height: 300px;
          border-left: 60px solid var(--main-color);
          border-bottom: 60px solid var(--main-color);
          position: absolute;
          top: -8%;
          right: -161px;
          z-index: -1;
}
.about .about-content .image-about::after {
          content: '';
          position: absolute;
          height: 440px;
          width: 80px;
          background-color: #ebeced;
          left: -30px;
          top: -8%;
          z-index: -1;
}
@media(max-width: 991px) {
          .about .about-content .image-about::before ,
          .about .about-content .image-about::after {
                    display: none;
          }
}
.about .about-content .text-content {
          flex-basis: calc(100% - 500px);
}
.about .about-content .text-content p:first-of-type {
          font-weight: bold;
          line-height: 2;
          margin-bottom: 50px;
}
.about .about-content .text-content hr {
          width: 50%;
          display: inline-block;
          border-color: var(--main-color);
}
.about .about-content .text-content p:last-of-type {
          line-height: 2;
          color: #777;
}
/* End About */
/* Start Contact */
.contact {
          padding-top: var(--section-padding);
          padding-bottom: var(--section-padding);
          background-color: var(--section-background);
}

.contact .info {
          padding-top: var(--section-padding);
          text-align: center;
}
.contact .info .label {
          font-size: 35px;
          color: var(--secondary);
          font-weight: 800;
          letter-spacing: -2px;
          margin-bottom: 15px;
}
.contact .info .link {
          font-size: 35px;
          text-decoration: none;
          color: var(--main-color);
          font-weight: 800;
}
.contact .social {
          display: flex;
          justify-content: center;
          margin-top: 20px;
          font-size: 14px;
}
.contact .social i {
          margin-left: 15px;
          color: var(--secondary);
}

@media (max-width: 767px) {
          .contact .info .label {
                    font-size: 25px;
          }
          .contact .info .link {
                    font-size: 25px;
          }
}
/* End Contact */
/* Start Footer */
.footer {
          background-color: var(--secondary);
          padding: 20px;
          color: white;
          font-size: 20px;
          text-align: center;

}
.footer span {
          color: var(--main-color);
          font-weight: bold;
}
/* End Footer */

html {
          scroll-behavior: smooth !important;
}